dots.ocr/weights/DotsOCR_1_5/model-00001-of-00002.safetensors
dots.ocr/weights/DotsOCR_1_5/model-00002-of-00002.safetensors
chatbot/local_models/multilingual-e5-small
chatbot/.venv
/DMS/backend/target/classes
/DMS/backend/target/classes
/DMS/backend/target/
/DMS/frontend/node_modules/
/DMS/mobile-app/node_modules/
/DMS/tools/node-scanner-bridge/daemon/
/.codeartsdoer/
*.class
