<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AutomatedSmartCapture.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.5" />
    <supportedRuntime version="v4.0.30319" />
    <supportedRuntime version="v4.0" />
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <runtime>
	<gcAllowVeryLargeObjects enabled="true"></gcAllowVeryLargeObjects>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IronSoftware.Drawing.Common" publicKeyToken="8d7e55c97b3e9835" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2024.5.0.1" newVersion="2024.5.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Packaging" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Resources.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <AutomatedSmartCapture.Properties.Settings>
      <setting name="ServerURI" serializeAs="String">
        <value>http://localhost:8080/</value>
      </setting>
      <setting name="ServerLoginName" serializeAs="String">
        <value>sysadmin</value>
      </setting>
      <setting name="ServerPassword" serializeAs="String">
        <value>P@ssw0rd</value>
      </setting>
      <setting name="SingleLoginMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LdapURI" serializeAs="String">
        <value>LDAP://infobrau1:389</value>
      </setting>
      <setting name="SearchBase" serializeAs="String">
        <value>OU=TestGroup1,DC=testdomain,DC=local</value>
      </setting>
      <setting name="SearchGroupFilter" serializeAs="String">
        <value>CN=*</value>
      </setting>
      <setting name="SearchUserFilter" serializeAs="String">
        <value>CN=*</value>
      </setting>
      <setting name="UserGroups" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <string>EM or above:CN=EM or above,CN=Users,DC=testdomain,DC=local</string>
            <string>HR:CN=HR,CN=Users,DC=testdomain,DC=local</string>
            <string>Non HR:CN=Non HR,CN=Users,DC=testdomain,DC=local</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="DaysToRetainLogs" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="Timeout" serializeAs="String">
        <value>1000000000</value>
      </setting>
      <setting name="EnableTWAIN" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="QREncodeSize" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="QRDecodeSize" serializeAs="String">
        <value>375</value>
      </setting>
      <setting name="Base64Loop" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="DmsTargetFolderId" serializeAs="String">
        <value>Pfiles</value>
      </setting>
      <setting name="DmsDefaultApproverId" serializeAs="String">
        <value>Lucy Zheng</value>
      </setting>
      <setting name="DmsDefaultSupervisorId" serializeAs="String">
        <value>Lucy Zheng</value>
      </setting>
    </AutomatedSmartCapture.Properties.Settings>
  </applicationSettings>
</configuration>
